@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&display=swap");

.appTitleWrapper {
  position: absolute;
  font-family: "Dancing Script", cursive;
  left: 0;
  right: 0;
  font-size: 30px;
  color: dodgerblue;
  margin-left: 0;
  margin-right: 0;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  top: 10vh;
}

.mainWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  width: 80vw;
}

.inputWrapper {
  display: flex;
  flex-direction: column;

  margin: 15px 0px;
}

.loginInput {
  background-color: white;
  border: 2px solid dodgerblue;
  color: black;
  border-radius: 4px;
  font-size: 22px;
  padding: 8px 15px;
}
.loginInput::placeholder {
  color: rgb(92, 86, 86);
}

.loginSubmit {
  font-size: 20px;
  height: 55px;
  margin-top: 65px;
  border-radius: 4px;
}
