.costInputWrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid white;
}
.costInputWrapper > :nth-child(1) {
  padding: 0px 16px;
}

/* actual input */
.costInputWrapper > :nth-child(2) {
  border: 0px;
  height: 32px;
  font-size: 24px;
  padding: 8px 16px;
}

.dateWrapper {
  padding: 5px;
}

.dateWrapper > :nth-child(2) {
  color: white;
  height: 45px;
  padding: 0px 4px 0px 6px;
  width: 95%;
}

.descriptionWrapper {
  border-top: 2px solid white;
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.descriptionWrapper > :nth-child(2) {
  color: white;
  font-size: 18px;
  padding: 12px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.mainWrapper {
  background-color: dodgerblue;
  bottom: -20vh;
  height: 0vh;
  overflow: hidden;
  position: fixed;
  transition: 0.5s ease-in-out;
  width: 100vw;
}

textarea {
  background-color: dodgerblue;
  border: none;
}

.titleDateWrapper {
  display: flex;
  /* padding: 10px; */
  height: 75px;
}

.titleWrapper {
  border-right: 2px solid white;
  padding: 5px;
}

.titleWrapper > :nth-child(2) {
  height: 45px;
  padding-left: 8px;
  font-size: 18px;
  width: 95%;
}

/* Global css*******/
/*TODO get rid of global css*/
input {
  background-color: dodgerblue;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
}

::placeholder {
  color: white;
  font-family: "Roboto", sans-serif;
}

label {
  opacity: 0;
}
/*Global css*******/
