.mainWrapper {
  background-color: dodgerblue;
  bottom: -20vh;
  height: 0vh;
  overflow: hidden;
  position: absolute;
  transition: 0.5s ease-in-out;
  width: 100vw;
}

.formWrapper {
  display: flex;
  flex-direction: column;
}

.costInputWrapper {
  display: flex;
  height: 90px;
  justify-content: flex-start;
  margin: 10px 0px;
}
.costInputWrapper > :nth-child(1) {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin: 0px 8px;
}

.costInputWrapper > :nth-child(2) {
  font-size: 22px;
  border-radius: 2px;
  border: 0px;
}

/* .costInputWrapper > * { */
/* align-content: center; */
/* justify-content: center; */
/* border: none;
  display: flex;
  height: 90px;

  margin-top: 20px;
  font-size: 40px;
  width: 80vw; */
/* } */
