.bottomWrapper {
  color: rgb(116, 114, 114);
  height: 40%;
  font-size: 15px;
  font-style: italic;
}

.bottomWrapper > p {
  margin-top: 6px;
}

.date {
  color: rgb(116, 114, 114);
  font-size: 18px;
}

.iconWrapper {
  display: flex;
  justify-content: flex-end;
}

.mainWrapper {
  background-color: white;
  border: 1px solid #c9c9c9c9;
  border-radius: 6px;
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
  margin: 10px 0px;
  padding: 12px;
  width: 85vw;
}

.midWrapper {
  align-items: center;
  display: flex;
  /* height: 30%; */
  justify-content: space-evenly;
}

.midWrapper > div {
  flex: 1;
}

.ownerNameWrapper {
  color: grey;
  margin: 5px 10px;
  text-transform: capitalize;
}

.topWrapper {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  height: 30%;
  justify-content: space-evenly;
}

.topWrapper > div {
  flex: 1;
}
