.bottomWrapper {
  color: rgb(116, 114, 114);
  height: 40%;
  font-style: italic;
}

.date {
  color: rgb(116, 114, 114);
  font-size: 18px;
}

.iconWrapper {
  display: flex;
  justify-content: flex-end;
}

.mainWrapper {
  /*align self is temp. Will have it's on container via TallyList*/
  align-self: center;
  /**/

  background-color: rgb(255, 255, 255);
  display: "flex";
  height: 100px;
  flex-direction: column;
  padding: 12px;
  width: 90vw;
}

.midWrapper {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: space-evenly;
}

.midWrapper > div {
  flex: 1;
}

.topWrapper {
  align-items: center;
  display: flex;
  height: 30%;
  justify-content: space-evenly;
}

.topWrapper > div {
  flex: 1;
}
